*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}


body{
    margin:0;
    padding:0;
    min-height: 100%;
    width:100%;
}

.head{
    display: flex;
}
.context{
    max-width: 100vh;
    margin: 0px 30px 25px 20px;
    padding-top: 30px;
    padding-left:1%;
}
.context  h4{
    font-size: 2rem;
}

.navig{
    display: flex;
    gap:24px;
    padding-left: 60vh;
    padding-top: 15px;
}
.navig a{
    text-decoration: none;
    outline: none;
    color: white;
}

.navig li{
    list-style: none;
    text-decoration: none;
    
}
.hero-banner{
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) , rgba(0, 0, 0, 0.1)), linear-gradient(to bottom, rgba(0,0,0,0.2) , rgba(0, 0, 0, 0.1)),url(/assets/images/Home\ Screen.jpg);
    width:100vw;
    height:100vh;
    color:aliceblue;
}
.log-out{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color:aliceblue;
    padding-left: 56vh;
}
.hero-banner .logo-text{
    color:#FF8D41;
} 


.title-wrapper{
    margin-top: 284px; 
}

.title-wrapper h1{
    font-weight:600;
    font-size: 70px;
}


.hero-buttons{
    padding-top: 50px;
}

.book-now{
    background-color: #FF8D41;
    color:white;
    border: none;
    border-radius: 10px;
    height: 44px;
    width: 119px;
    font-size: 1em;
}


.explore-more{
    font-size: 15px;
    color:white;
    background-color: transparent;
    border:1px solid white;
    border-radius:10px;
    margin:0 0 0 30px;
    height: 44px;
    width: 119px;
}