*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}


body{
    margin:0;
    padding:0;
    min-height: 100%;
    width:100%;
}



.head{
    display: flex;
}
.context{
    max-width: 100vh;
    margin: 0px 30px 35px 40px;
    padding-top: 20px;
    padding-left:1%;
    padding-bottom: 50px;
}
.context  h4{
    font-size: 2rem;
}

.navig{
    display: flex;
    gap:24px;
    padding-left: 58vh;
    padding-top: 15px;
    font-size: 1em;
}
.navig a{
    text-decoration: none;
    outline: none;
    color: white;
}

.navig li{
    list-style: none;
    text-decoration: none;
}
.hero-banner{
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) , rgba(0, 0, 0, 0.1)), linear-gradient(to bottom, rgba(0,0,0,0.2) , rgba(0, 0, 0, 0.1)),url(/assets/images/Home\ Screen.jpg);
    max-width: 100%;
    /* width:95vw;
    height:90vh; */
    color:aliceblue;
}
.log-out{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color:aliceblue;
    padding-left: 45vh;
}
.logo-text{
    color:#FF8D41;
} 


.title-wrapper{
    margin-top: 284px; 
}

.title-wrapper h1{
    font-weight:600;
    font-size: 70px;
}


.hero-buttons{
    padding-top: 50px;
}

.book-now{
    background-color: #FF8D41;
    color:white;
    border: none;
    border-radius: 10px;
    height: 44px;
    width: 119px;
    font-size: 1em;
}


.explore-more{
    font-size: 15px;
    color:white;
    background-color: transparent;
    border:1px solid white;
    border-radius:10px;
    margin:0 0 0 30px;
    height: 44px;
    width: 119px;
}

.about-us{
    background-color: #FFFFFF;
    padding-left: 129px;
}

.about-us-title{
    display: flex;
    justify-content: center;
}

.half-line{
    display: flex;
    color: #666;
    font-size: 30px;
    
}
.about-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #666;
}

.outerbox{
    box-sizing: border-box;
    height: 300px;
    width: 60%;
    border: 1px solid #212020;
    border-radius: 10px;  
    background-image: url("/assets/images/Rectangle\ 11.png");
}

.historyJS, .whyus{
    display: flex;
    color:#424242;
}

.readmore{
    border:1px #FF8D41;
    outline:auto;
    color: #FF8D41;
    background-color: transparent;
}

.details{
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    background-color: #FF8D28;
    color: white;
    display: grid;
}

.upperdetails{
    display: flex;
    justify-content: space-evenly;
    font-size:xx-large;
    /* align-content: space-between; */
}
.lowerdetails{
    display: flex;
    justify-content: space-evenly;
}
