*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}


body{
    margin:0;
    padding:0;
    min-height: 100%;
    width:100%;
}

.head{
    display: flex;
}
.context{
    margin: 0px 30px 25px 30px;
    padding-top: 30px;
}
.context  h4{
    font-size: 2rem;
}

.navig{
    display: flex;
    gap:24px;
    padding-left: 60vh;
    padding-top: 15px;
}
.navig a{
    text-decoration: none;
    outline: none;
    color: white;
}

.navig li{
    list-style: none;
    text-decoration: none;
    
}
.hero-banner{
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) , rgba(0, 0, 0, 0.1)), linear-gradient(to bottom, rgba(0,0,0,0.2) , rgba(0, 0, 0, 0.1)),url(/assets/images/Home\ Screen.jpg);
    width:100%;
    height:100vh;
    color:aliceblue;
}
.log-out{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color:aliceblue;
    padding-left: 56vh;
}
.hero-banner .logo-text{
    color:#FF8D41;
} 
